.bottomSideBarContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  width: 200px;
  padding: 5px;
}

img {
  width: 70%;
  height: 70%;
}
