.headerContainer {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  width: 30%;
}

.buttonBack {
  position: absolute;
  left: 10px;
}
