.itemContainer {
  color: white;
  height: 230px;
  margin-inline: 10%;
  background-color: #324f5d;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemImageContainer {
  height: 55%;
  width: 90%;
  background-color: white;
  border-radius: 15px;
}

.itemParraphContainer {
  height: 30%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 10%;
}
