.inputContainer {
  display: flex;
  height: 30px;
  width: 100%;
  padding-inline: 5px;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  background-color: white;
  border-radius: 7.5px;
  user-select: none;
}

input {
  width: 100%;
  border: none;
  outline: none;
}
