.layoutPageContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 15% 85%;
}

.header {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.image {
  width: 150px;
  margin: 0px;
}

.pageDisplayContainer {
  width: 90%;
  height: 100%;
  margin: 0px;
  display: grid;
  grid-template-rows: 10% 90%;
  justify-self: center;
}

@media (max-width: 768px) {
  .layoutPageContainer {
    display: flex;
    flex-direction: column;
  }

  .header {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }

  .pageDisplayContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
