.pageSessionContainer {
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: 3px 3px 3px rgb(228, 228, 228);
  display: grid;
  grid-template:
    "sideBar header" 15%
    "sideBar content" 85% / 20% 80%;

  .header {
    grid-area: header;
    height: 55%;
    padding: 10px;
    display: flex;
    justify-content: end;
  }

  .sideBar {
    grid-area: sideBar;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .pageSessionContainer {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    grid-template:
      "header" 40px
      "content" auto
      "sideBar" 40px/ 100% 0%;

    .header {
      width: 100%;
      height: 40px;
      position: fixed;
      top: 0;
      left: 0;
      padding: 0px;
    }

    .sideBar {
      width: 100%;
      height: 40px;
      position: fixed;
      bottom: 0;
      left: 0;
    }
  }
}
