.headerContainer {
  height: 40px;
  width: 100%;
  position: relative;
  background-color: white;
  border: 1px solid rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  flex-shrink: 0;
}

.buttonBack {
  position: absolute;
  left: 10px;
}
