.TopButtonContainer {
  color: white;
  background-color: #324f5d;
  height: 55px;
  margin: 10% 20%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
