.ButtonPrimary {
  height: 37px;
  width: 100%;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.295);
  background-color: #324f5d;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 2px 2px 2px rgb(66, 66, 66);
  cursor: pointer;
  user-select: none;
}
.ButtonPrimary:hover {
  opacity: 0.6;
}
