.inputDisplayContainer {
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: end;
  align-items: end;
}

@media (max-width: 768px) {
  .inputDisplayContainer {
    visibility: hidden;
    height: 0px;
  }
}
