.buttonSquareContainer {
  all: unset;
  height: 25px;
  width: 25px;
  background-color: #324f5d;
  border-radius: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonSquareContainer:active {
  opacity: 0.8;
}

.buttonSquareContainer__image {
  width: 70%;
  height: 80%;
}
