.accordionContainer {
  margin: 5px 0;
  width: 100%;
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
  background-color: #324f5d;
  color: white;
  padding: 10px 5px;
  border-radius: 5px;
}

.accordionItem {
  color: #989898;
  padding: 5px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #989898;
}
