.loginContainer {
  width: 80%;
  height: 80%;
  max-width: 1350px;
  box-shadow: 5px 5px 5px grey;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 15px;
  display: grid;

  grid-template:
    "header imageContainer" 40%
    "sideBar imageContainer" 30%
    "sideBar imageContainer" 30% / 30% auto;

  .header {
    grid-area: header;
    background-color: white;
    border-top-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sideBar {
    grid-area: sideBar;
    background-color: #324f5d;
    color: white;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imageContainer {
    grid-area: imageContainer;
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: url("../../assets/Login/bgLogin.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image {
    height: 90%;
  }
}

.sideBarContent {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  grid-template:
    "inputArea" 40%
    "linksArea" 10%
    "buttonArea" 50%/ 65%;

  .inputArea {
    grid-area: inputArea;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .linksArea {
    grid-area: linksArea;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonArea {
    height: 100%;
    grid-area: buttonArea;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .loginContainer {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border: none;

    grid-template:
      "header" 40%
      "sideBar" 30%
      "sideBar" 30%/100% 0%;

    .sideBar {
      border-bottom-left-radius: 0px;
    }

    .imageContainer {
      width: 0px;
    }
  }
}
